.menus-wrap
  - for (let i = 0; i < 9; i++) {
    .UI-toggleMenu
      button.toggle-button
        span
          |Open Menu #{i+1}
      .toggle-menu
        .toggle-menu__contents
          p
            |Hello ToggleMenu #{i+1}.
            br
            |Hello ToggleMenu #{i+1}.
            br
            |Hello ToggleMenu #{i+1}.
            br
            |Hello ToggleMenu #{i+1}.
  - };
